<div class="menu">
  <div class="submenu"><a [routerLink]="'/graphs'">Graphs</a></div>
  <div class="submenu"><a [routerLink]="['/bases']">Bases</a></div>
  <div class="submenu"><a [routerLink]="['/combinatorial-analysis']">Combinatorial Analysis</a></div>
  <div class="submenu"><a [routerLink]="['/sets']">Sets</a></div>
  <div class="submenu"><a [routerLink]="['/machine-learning']">Machine Learning</a></div>
  <div class="submenu"><a [routerLink]="['/numeric']">Number Theory</a></div>
</div>
<router-outlet></router-outlet>
