body {
  background-color: black;
  color: whitesmoke;
}

a {
  display: inline-block;
  margin: 0 4px;
  padding: 6px 8px;
  background-color: transparent;
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  background-color: darkred;
  color: whitesmoke;
}

.menu {
  display: block;
  margin: 0;
  border: none;
  padding: 0 8px;
  background-color: darkcyan;
  color: whitesmoke;

  & .submenu {
    display: inline-block;
    margin: 0;
    padding: 0 4px;
    background-color: transparent;
    color: whitesmoke;
  }
}
